.container {
  padding: 2px 10px;
  border: solid var(--white) 3px;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.container:hover {
  box-shadow: var(--box-shadow);
}

.container:disabled {
  opacity: 0.7;
  cursor: auto;
}

.light {
  color: var(--black);
  background-color: var(--orange);
}

.light:hover {
  background-color: var(--orange-dark);
}

.dark {
  color: var(--white);
  background-color: var(--black);
}

.dark:hover {
  background-color: #000;
}
