.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 48px;
  background-color: var(--background-primary);
  border-bottom: solid 5px var(--white);
}

.logo {
  color: var(--yellow);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding: 1em;
}

.button {
  margin: 0 10px;
}
